<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo List</title>

    <link rel="stylesheet" href="./assets/css/style.css">
</head>
<body>
    
    
    <div id="app">

        <!-- list -->
        <ul>
            <li v-for="(task,index) in toDoTasks">
                <div class="text" v-bind:class="{done: task.done}" @click="checkTask(index)">
                    {{task.text}}
                    {{task.done}}
                </div>
                
                <button @click="removeTask(index)">X</button>
            </li>
        </ul>

        <!-- input -->
        <input type="text" placeholder="Aggiungi elementi alla lista" v-model="newTask" @keyup.enter="addTask()">
        <button  @click="addTask()">Aggiungi</button>



    </div>



    <!-- script -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="./assets/js/app.js"></script>
</body>
</html>