/* #region reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* #endregion reset */

#app{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    width: 50%;
    height: 80vh;
    margin: auto;
    max-width: 540px;
    background-color: lightseagreen;
    border-radius: 10px;
    padding: 1rem;

    >h1 {
        text-align: center;
        font-size: 2.5rem;
        color: white;
    }

    >.add-task {
        padding: 1rem 0;
        display: flex;
        justify-content: center;
        gap: 1rem;

        >.add-task-btn {
            padding: 0.5rem;
            border-radius: 10px;
            cursor: pointer;
            background-color: lightcoral;
            color: white;

            &:hover{
                background-color: rgb(240, 113, 113);
            }
        }

        >input {
            padding: 0.6rem;
            border-radius: 10px;
        }
    }

    >ul {
        padding: 1rem 0;
        height: 80%;
        overflow-y: auto;

        >li {
            padding: 0.5rem;
            background-color: white;
            margin: 1rem 0;
            border-radius: 10px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            >.task{
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 1rem;

                >.number{
                    padding: 0.5rem;
                    width: 2rem;
                    text-align: center;
                    background-color: darkgray;
                    border-radius: 50%;
                    color: white;
                    cursor: pointer;
                }
            }

            >.remove-task-btn {
                border-radius: 50%;
                width: 2rem;
                aspect-ratio: 1 / 1;
                border: none;
                background-color: red;
                color: white;
                font-size: 1.1rem;
                cursor: pointer;
            }

        }
    }

    .nothing-to-do{
        padding: 3rem 0;
        color: white;
        text-align: center;
        font-size: 1.5rem;

        >.image{
            padding: 1.5rem;
            width: 400px;
            height: 400px;
            margin: auto;

            >img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}



.done {
    text-decoration: line-through;
}
.taskdone{
    background-color: green!important;
}

